section{
    padding: 1em 11%;
}
.home{
    background: url('./books_img/banner.png');
    background-size: cover;
    background-position: center;

}
.home .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2.5em;
}
.home .row .content{
    flex:1 1 42rem;
    
}
.home .row .book-slider{
    flex:10 1 42rem;
    text-align: center;
    margin-top: 2.5rem;
}

.home .row .book-slider a img{
    height: 35rem;
}
.home .row .book-slider a:hover img{
    transform: scale(1.4);
}
.stand{
    padding-right: 30px;
    padding-left: 20px;
}

.btn {
    display: inline-block;
    padding: 1rem 3rem;
    margin-top: .5rem;
    border-radius: .5rem;
    color: white;
    background: green;
    font-size: 1.7rem;
    cursor: pointer;
    font-weight: 500;
}
.btn:hover,
.btn:focus {
    background-color: #45a049; /* Darker shade for hover */
    transform: scale(1.05); /* Slight zoom effect */
}

/* Hover and Focus Effects */

.home .row .book-slider .stand{
    width: 100%;
    margin-top: -2rem;
}
.home .row .content h3{
    color: var(--black);
    font-size: 4.5rem;
}
.home .row .content{
    color: var(--black);
    font-size: 1.9em;
    line-height: 2;
    padding: 1rem 0;
}